.home
  display: flex
  flex-direction: column
  justify-content: center

  box-sizing: border-box
  min-height: 30rem;
  height: 100vh

  .hero
    margin-bottom: 3.6rem

    img
      max-width: 100%